PG_PASS=
PG_USER=authentik
PG_DB=authentik
AUTHENTIK_SECRET_KEY=

# Email via Resend SMTP
AUTHENTIK_EMAIL__HOST=smtp.resend.com
AUTHENTIK_EMAIL__PORT=587
AUTHENTIK_EMAIL__USERNAME=resend
AUTHENTIK_EMAIL__PASSWORD=
AUTHENTIK_EMAIL__USE_TLS=true
AUTHENTIK_EMAIL__USE_SSL=false
AUTHENTIK_EMAIL__TIMEOUT=30
AUTHENTIK_EMAIL__FROM=noreply@flowstarter.dev
